
body{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background: #f2f2f2;	
}

a:hover{
	text-decoration: none !important;
}

ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#container-page{
	width: 100%;
	max-width: 1750px;
	margin: 0px auto;
}

header{
	padding: 30px;
	background: #FFF;
	box-shadow: 0 0 5px 0 5px #dddddd;
}

#container-header{
	width: 85%;
	margin: 0px auto;
	position: relative;
}

.logo{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
nav{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	padding-top: 20px;
	/*margin-left: 5%;*/
	text-align: center;;

}

nav ul li{
	display: inline-block;
	vertical-align: top;
	padding: 2%;

}
nav ul li a{
	font-family: "Arial Narrow", sans-serif;
	font-size: 85%;
	color: #777777;
}
nav ul li a:hover, nav ul li.active a{
	text-decoration: none;
	color: #000000;
}

.btn-mitienda{
	position: absolute;;
	top: 25px;
	right: 0;
	color: #FFF;
	background: rgb(21,206,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1Y2VmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMWE5ZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(21,206,255,1) 0%, rgba(17,169,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,206,255,1)), color-stop(100%,rgba(17,169,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ceff', endColorstr='#11a9eb',GradientType=0 ); /* IE6-8 */
	border: none;
	border-radius: 7px;
	padding:9px 20px; 

}

/****HOME****/
.container-banner{
	position: relative;
	max-height: 450px;
    overflow: hidden;
    position: relative;

}

.content-banner-home{
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;

}

.content-text-banner{
	margin:0px auto; 
	text-align: center;
}

.content-text-banner h1{
	color: #000000;
	font-size: 320%;
	margin-bottom:0px;
}
.content-text-banner p{
	font-size: 150%;
	color: #333333;
	margin: 40px 0;
}

.btn-abrir-tienda{
	color: #FFF;
	background: rgb(21,206,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1Y2VmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMWE5ZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(21,206,255,1) 0%, rgba(17,169,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,206,255,1)), color-stop(100%,rgba(17,169,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ceff', endColorstr='#11a9eb',GradientType=0 ); /* IE6-8 */
	border-radius: 7px;
	padding:9px 20px; 
	font-size: 85%;
}
.btn-abrir-tienda:hover{
	text-decoration: none;
	opacity: 0.8;
	color: #FFF;
}

.btn-ver-planes{
	border-radius: 7px;
	padding:9px 20px; 
	font-size: 85%;
	color:#FFF;
	background: rgb(244,166,4); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YTYwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNDg4MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(244,166,4,1) 0%, rgba(244,136,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,166,4,1)), color-stop(100%,rgba(244,136,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a604', endColorstr='#f48804',GradientType=0 ); /* IE6-8 */
	margin-left: 1%;
}

.btn-ver-planes:hover{
	text-decoration: none;
	opacity: 0.8;
	color: #FFF;
}

article{
	width: 90%;
	margin: 0px auto;
	color: #5D5D5D;
}

.title-function, .title-plan{
	text-align: center;
	color: #5D5D5D;
	font-weight: bold;
	margin: 30px 0;

}

.title-function span, .title-plan span{
	font-weight: normal;
}

.home-function ul, .home-plan ul{
	text-align: center;
}

.home-function ul li{
	display: inline-block;
	vertical-align: top;
	width: 21%;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 1px 1px 1px 5px #333;
	height: 300px;
	margin: 0px 1.5%;

}


.home-function ul li img{
	margin: 60px 0px 0px 0px;
}

.home-function ul li h3{
	font-weight: bold;
	color: #5D5D5D;
	font-size: 120%;
	margin: 25px 0;
}
.home-function ul li p{
	color: #777777;
	font-size: 90%;
	padding:0px 15px; 
}


/***PLANES HOME****/

.home-plan p{
	color: #848484;
}

.intro-home-plan{
	text-align: center;
	color: #7c7c7c;
	font-size: 120%;
	margin-bottom: 40px;
}

.home-plan{
	width:96%;
	margin:0px auto; 
}


#content-plan, .plan-personalizado{
	float: left;
	width: 25%;
}

.home-plan .content-plan, .plan-personalizado{
	background: #FFF;
	border-radius: 7px;
	box-shadow: 0px 1px 1px 1px 5px #333;
	border-bottom: 2px solid #e5e5e5;
	text-align: center;

}


.home-plan .content-plan.plan-two{
	 border-left: 1px solid #c4c4c4;
	 border-right: 1px solid #c4c4c4; 
}

.home-plan .content-plan h3{
	background: #e0e0e0;
	margin:0px; 
	padding:15px 0; 
	border-radius: 7px; 
	text-shadow: 1px 1px #FFF;
	color: #616161;
	text-align: center;
}

.content-plan .precio, .plan-personalizado .precio{
	padding: 40px 0 20px 0;
	border-bottom:1px solid #c4c4c4; 
}

.content-precio{
	width: 50%;
	margin: 0px auto;
	position: relative;
	font-weight: bold;
}


.content-precio .simbol{
	font-size: 150%;
    left: 0;
    position: absolute;
}

.diner-s{
	margin-left: 7%;
}

.content-precio .diner{
	color: #2faecc;
	font-size: 300%;
	font-weight: normal;
}

.text-anticipo{
	font-size: 85%;
	font-weight: bold;
	color: #848484;
	text-align: center;
}

.plan-personalizado {
	border-radius: 0;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4; 
}

.plan-personalizado h3{
	border-bottom: 1px solid #c4c4c4; 
	text-align: center;
	padding:15px 0;
	margin: 0px;

	
}

.plan-personalizado h3 span{
	font-weight: bold !important;
}

.btn-contact-home{
	border-radius: 7px;
	padding:12px 20px; 
	color:#FFF;
	background: #81cc25;
}

.btn-contact-home:hover{
	color:#FFF;
	text-decoration: none;
}
.home-plan ul{
	clear: both;
}

.home-plan ul li{
	width: 25%;
	float:left;
	text-align: center; 
}

#content-plan  a, .btn-plan-list{
	padding: 10px 0;
	color: #FFF; 
	background: rgb(244,166,4); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YTYwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNDg4MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(244,166,4,1) 0%, rgba(244,136,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,166,4,1)), color-stop(100%,rgba(244,136,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(244,166,4,1) 0%,rgba(244,136,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a604', endColorstr='#f48804',GradientType=0 ); /* IE6-8 */
	border-radius: 7px;
	display: block;
	width: 40%;
	margin:15px auto; 
	text-align: center;
}



.btn-p1-comprar{
	margin-top: 53px !important;
}
.btn-p2-comprar{
	margin-top: 35px !important;
}

/****BANNER CLIENTES HOME****/

#container-clientes-home {
	background: #FFF;

}

#container-clientes-home ul, #invitacion-demo{
	width: 90%;
	margin:0px auto;
	text-align: center; 
}

#container-clientes-home ul li{
	display: inline-block;
    margin: 30px 1%;
    position: relative;
    vertical-align: top;
    width: 16%; 
}

#container-clientes-home ul li img{
	width:100%; 

}

.container-sobre, #container-clientes .container-sobre{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,206,255,0.8);
	width: 100%;
	opacity: 0;
	transition: all 0.7s ease 0s;
	height: 90%;
}

.container-sobre p{
	text-align: center;
	color: #FFF;
	margin: 47% auto;
	font-weight: bold;
	font-size: 120%;
}

.client{
	color: #5D5D5D;
}

.client:hover{
	color:#30677f;
	text-decoration: none;
}

#container-clientes-home ul  li a:hover .container-sobre{
	opacity: 1;
}


/******FOOTER******/

#invitacion-demo{
	border-top: 1px solid #c1c1c1;
	padding: 40px 0;
	margin: 25px auto 0;
}

#invitacion-demo{
	font-size: 120%;
	color: #5D5D5D;
}
#invitacion-demo p span{
	font-weight: bold;
	font-size: 110%;
	
}


#invitacion-demo a{
	color: #FFF;
	background: rgb(21,206,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1Y2VmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMWE5ZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(21,206,255,1) 0%, rgba(17,169,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,206,255,1)), color-stop(100%,rgba(17,169,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ceff', endColorstr='#11a9eb',GradientType=0 ); /* IE6-8 */
	border: none;
	border-radius: 7px;
	padding:9px 20px; 

}

footer{
	width: 100%;
	background: #474747;
	padding: 15px 0;

}



#footer-lists{
	width: 85%;
	margin:0px auto; 
}

.container-footer ul {
	text-align: center;;
}

.container-footer li{
	display: inline-block;
	vertical-align: top;
	padding: 0px 1%;
}

.container-footer li a, .container-footer li {
	color: #c4c4c4;
}

.container-footer h5 {
	color: #c4c4c4;
	text-align: left;
}
 .container-footer .final-list-footer{
 	text-align: center;
 	font-size: 80%;
 }


/****PLANES***/
#table-plan {
	width: 80%;
	display: inline-block;
	vertical-align: top;
}
#table-plan tr{
	width: 15%;
}
#table-plan td{
	text-align:center;
	padding: 5px 0;
	border-right: 2px solid #DDDDDD;
}
#table-plan th{
	border-right: 2px solid #DDDDDD;
	border-bottom: 2px solid #DDDDDD;
}

#table-plan tr:nth-child(2n){
	background: #FFF;
}

#table-plan th{
	text-align: center;
}

#table-plan .especifications{
	text-align: left;
	width: 30%;
	padding: 5px;
}

.title-plan-table th{
	color: #FFF;
	border-radius:7px;
	padding: 10px 0; 
	font-size: 130%;
}
.title-plan-table th:nth-child(2){
	background: #44aaff;
}

.title-plan-table th:nth-child(3){
	background: #0787f5;
}

.title-plan-table th:nth-child(4){
	background: #046ec4;
}


#container-planp-planes{
	display: inline-block;
	vertical-align: top;
	width: 19%;
}

#container-planp-planes .plan-personalizado{
	width: 100%;
}

.general-plan{
	font-size: 120%;
	margin:50px auto; 
	text-align: center;
}

.general-plan ul{
	
}


.btn-plan-list:hover{
	color: #FFF;
	opacity: 0.8;
}


/*****CLIENTES*****/
.clientes-list-p ul li{
	width: 23% !important;
	margin: 30px 3% !important;

}


/****BENEFICIOS****/
.list-beneficios {
	 width: 90%;
	 margin: 0px auto; 
}

.list-beneficios li{
	width: 32.5%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
	height: 150px;
	padding: 0 10px 0;

}

.list-beneficios li:nth-child(2){
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.list-beneficios li h3{
	font-weight: bold;
	font-size: 125%;

}

.list-beneficios li p{
	font-size: 85%;


}



/*****PREGUNTAS******/

.list-questions li{
	width: 32.5%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
	height: 180px;
	padding: 0 10px 0;

}

.list-questions li:nth-child(4),.list-questions li:nth-child(5),.list-questions li:nth-child(6){
	border-bottom: none;
}

.list-questions li h3{
	font-size: 100%;
	color: #00a6eb;

}


.list-questions li p{
	font-size: 85%;
	text-align: justify;
}


/*****FORMULARIOS****/
.formulario{
	text-align: center;
	position: relative;

}
.formulario input, .formulario textarea, .formulario select{
	width: 25%;
	height: 35px;
	border:none;
	border-bottom: 1px solid #c8c8c8;
	padding: 5px;
	margin: 10px 2%;
	display: inline-block;
	vertical-align: top;
}
 .formulario textarea{
	height: 50px;
}

.btn-enviar-p{
	display: block;
	width: 8%;
	background: #7c7c7c;
	color: #FFF;
	border: none;
	padding: 5px 0;
	border-radius: 2px;
	margin: 10px auto;
	

}


/*****MEDIOS DE PAGO***/
#container-pagos{
	background: #FFF;
	box-shadow: 5px 5xp 2px #888;

}

.content-pagos{
	width: 70%;
	margin: 20px auto;
	padding: 20px 0;
}
.content-pagos p{
	color: #777777;
	font-size: 100%;
}

.img-pagos{
	display: block;
	margin: 20px auto;
}


/****FORMULARIO DEMO***/
.content-formulario-demo{
	width: 70%;
	margin: 0px auto;
}

.container-left-fd, .container-right-fd {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.container-left-fd, .container-right-fd {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	text-align: center;
}
.content-formulario-demo .formulario{
	text-align: left;
}

.content-formulario-demo .formulario input, .content-formulario-demo .formulario textarea, .content-formulario-demo .formulario select{
	width: 85%;
	margin:5px 0; 
}
.container-final-fd{
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.termines{
	width: 10% !important;
	height: auto !important ;
}

.btn-demo{
	display: block;
	margin: 20px auto;
	background: #ff9500;
	color: #FFF;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
}

/****LO QUE NO SE MUESTRA EN LA VERSION NORMAL****/

.btn-movil, .container-banner-movil{
	display: none;
}

 /***VERSION MOVIL***/
@media only screen and (max-width:766px){


	/***LO QUE NO SE VE EN LA VERSION MOVIL****/
	.container-banner, .home-function ul li p, .intro-home-plan, .intro-clients-home, #container-clientes-home, .container-footer
	
	{
		display: none;
	}
	 .no-mobile{
	 	display: none!important;
	 }

	 h2{
	 	font-size: 150%;
	 	margin: 30px 0 !important;
	 }




 	header{
 		background: #DDDDDD ;
 		padding: 5px 0;
 	}
 	#container-header, article{
 		width: 100%;
 	}
 	.logo{
 		display: inline-block;
 		vertical-align: top;
 		width: 40%;
 		text-align: center;
 	}

 	.btn-mitienda{
 		display: inline-block;
 		vertical-align: top;
 		width: 30%;
 		position: relative;
 		top: 10px;

 	}

 	nav {
	    left: 0;
	    position: absolute;
	    top: 80px;
	    z-index: 20;
	    background: #FFF;
	    margin: 0px;
	    width:100%;
	    padding: 0;
	    display: none;
	}

	nav ul li{
	    display: block;
	    padding: 1% 0;
	}
	nav ul li a{
	    font-size: 100%;
	}

	.btn-movil{
		display: inline-block;
		vertical-align: top;
		width: 23%;
		padding-top: 8px;
	}


	/****BANNER PRINCIPAL*****/
	.container-banner-movil {
	    display: block;
	}

	.presentation-home{
		color: #5D5D5D;
		text-align: center;
		font-size: 150%;
	}


	.title-function, .title-plan{
		margin:50px 0; 
	}


	.home-function ul li {
	    background: none;
	    border-radius: 0;
	    height: auto;
	    margin: 5px 0; 
	    width: 48%;
	}
	.home-function ul li h3 {
	    font-size: 150%;    
	}


	.home-function ul li img{
		margin:0; 
	}

	/****PLANES HOME*****/
	.home-plan {
    	width: 100%;

	}

	.home-plan p{
    	width: 70%;
    	margin: 0px auto;
    	font-size: 110%;

	}

	.home-plan #content-plan, .plan-personalizado{
		width: 100%;
		display: block;
	}

	
	
	#content-plan{
		background: #FFF;
		margin:20px 0;
	}


	.content-plan{
		border-bottom: none !important;
	}

	.content-plan .precio, .plan-personalizado .precio{
		border:none;
		padding:10px 0 !important; 
	}

	.content-precio{
		width: 45%;
	}


	.content-precio .diner{
		font-size: 350%;
	}


	.btn-p1-comprar, .btn-p2-comprar{
		margin-top: 10px !important;
	}


	.btn-contact-home{
		display: block;
		margin: 10px auto;
		width: 40%;
	}


	.text-personal{
		padding: 10px 0 !important;
		width: 70%;
		margin: 0px auto;
		font-size: 120%;
		font-style: italic;
	}

	#invitacion-demo {
	    clear: both;
	    color: #5D5D5D;
	    font-size: 130%;
	    padding: 15px 0;
	    margin: 0 auto;
	}

	#invitacion-demo a {
	   	width:70%;
	    display: block;
	    margin: 0px auto;
	}

	.footer-movil{
		display: block;
		width: 100%;
	}

	.footer-movil h5{
		display: none;
	}

	.footer-movil ul {
		width: 100%;
		text-align: center;
		font-size: 120%;
	}





	/***SECCION PLANES****/

	#table-plan, #container-planp-planes {
	    width: 100%;
	}

	#content-plan a, .btn-plan-list {
	    width: 95%;
	}

	.general-plan{
		text-align: left;
	}


	/****SECCION CLIENTES***/

	.clientes-list-p{
		display: block !important;
	}

	.clientes-list-p ul li {
	   
	    width: 70% !important;
	}


	/*****BENEFICIOS*****/
	.list-beneficios li, .list-questions li {
	    height: auto;
	    width: 100%;

	}

	/****PREGUNTAS****/
	.list-questions li {
	    border-bottom: none;

	}
	.list-questions li p{
	    font-size: 97%;
	}


	.formulario input, .formulario textarea, .formulario select {
	    width: 80%;
	}

	.title-questions{
		text-align: center;
		font-size: 120%;
		margin: 20px 0;
	}

	.btn-enviar-p {
	    width: 30%;
	}

	.content-pagos {
	    text-align: justify;
	    width: 95%;
	}

	/***FORMULARIO DEMO****/
	.content-formulario-demo,.container-left-fd, .container-right-fd, .container-final-fd {
	    width: 100%;
	}

 }

/****VERSION TABLET****/
@media only screen and (min-width:767px) and (max-width: 999px){
	header{
		padding: 30px 10px;
	}
	#container-header, article{
		width: 100%;
	}
	nav{
		width: 65%;
	}
	nav ul li{
		padding: 2% 1%;
	}

	.content-banner-home {
	    bottom: 20px;
	    
	}

	.home-function ul li {
	    height: 300px;
	    margin: 1%;
	    width: 45%;
	}

	.home-function ul li p {
	    font-size: 100%;
	}

	.home-plan{
		text-align: center;
	}

	.home-plan #content-plan, .plan-personalizado {
	    float: none;
	    width: 49%;
	    display: inline-block;
	    vertical-align: top;
	    margin: 20px 0; 

	}

    #invitacion-demo a {
	    display: block;
	    margin: 10px auto;
	    width: 30%;
	}

	#table-plan {
	    width: 100%;
	}

	#container-planp-planes {
	    display: block;
	    margin: 0 auto;
	    width: 50%;
	}

	.list-beneficios li, .list-questions li {
	    border: none !important;
	    width: 49%;
	    height: auto;
	}

	.content-pagos {
	    width: 90%;
	}
	}


}