@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);   
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Roboto);

body{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background: #f2f2f2;	
}

ul{
	padding: 0px;
	margin: 0px;
}

#container-page{
	width: 100%;
	max-width: 1750px;
	margin: 0px auto;
}

header{
	padding: 30px;
	background: #FFF;
	box-shadow: 0 0 5px 0 5px #dddddd;
}

#container-header{
	width: 85%;
	margin: 0px auto;
	position: relative;
}

.logo{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
nav{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	padding-top: 20px;
	/*margin-left: 5%;*/
	text-align: center;;

}

nav ul li{
	display: inline-block;
	vertical-align: top;
	padding: 2%;

}
nav ul li a{
	font-family: "Arial Narrow", sans-serif;
	font-size: 85%;
	color: #777777;
}
nav ul li a:hover{
	font-family: "Arial Narrow", sans-serif;
	text-decoration: none;
	color: #000000;
}

.btn-mitienda{
	position: absolute;;
	top: 25px;
	right: 0;
	color: #FFF;
	background: rgb(21,206,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1Y2VmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMWE5ZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(21,206,255,1) 0%, rgba(17,169,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,206,255,1)), color-stop(100%,rgba(17,169,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(21,206,255,1) 0%,rgba(17,169,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ceff', endColorstr='#11a9eb',GradientType=0 ); /* IE6-8 */
	border: none;
	border-radius: 7px;
	padding:9px 20px; 

}

/****HOME****/
.container-banner{
	position: relative;
}

.content-banner-home{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;

}

.content-text-banner{
	margin:0px auto; 
}

